body {
    margin: 0;
}

body, p, a, h1, h2, h3, h4 {
    font-family: "Franklin Gothic Medium", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #dedede;
    z-index: 1;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: auto;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
}

.nav-left img {
    margin-right: 20px;
}

.nav-left a {
    margin-left: 20px;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
    width: 33px;
    border-radius: 20px;
    background-color: black;
    margin-right: 25px;
}

.body-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    background-color: #ffffff;
    margin: 0 auto;
}

.title h1 {
    margin-top: -50px;
    font-size: 160px;
    font-weight: 900;
    margin-bottom: -10px;
}

.bg-body img {
    margin-top: 0;
    width: 100%;
}

.content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.new-date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.new-date h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 800;
}

.new-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bb3825;
    border-radius: 4px;
    height: 22px;
    width: 50px;
    font-weight: 600;
    color: #ffffff;
    margin-right: 10px;
}

.title-url a h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
}

.author a {
    margin-left: 5px;
    color: #2455c3;
    font-weight: 700;
    font-size: 18px;
}

.author a p {
    margin-left: 5px;
    font-size: 18px;
    font-weight: 200;
    color: #2455c3;
}

.content {
    width: 100%;
    height: auto;
}

.content p {
    margin-top: 0;
    font-size: 24px;
    font-family: Georgia, serif;
    line-height: 36px;
    margin-bottom: 70px;
}

.sponsor {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin-top: -50px;
}

.sponsor p:nth-child(1) {
    margin-right: 5px;
}

.sponsor p:nth-child(3) {
    color: gray;
}

.hr {
    height: 2px;
    width: 100%;
    background-color: #d6d6d6;
    margin-top: 40px;
}

.body-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    background-color: #ffffff;
    margin: 0 auto;
}

.bloc-container {
    display: flex;
    width: 100%;
}

.container-left {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.content-container {
    width: 30%;
    margin-right: 3%;
    margin-bottom: 20px;
}

.content-container p:nth-child(3) {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    line-height: 24px;
    font-family: Georgia, serif;
    text-align: left;
}

.content-container h4 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 24px;
    font-size: 18px;
    font-weight: 700;
}

.author-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.author-content p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
}

.author-content a {
    margin-bottom: 0;
    margin-left: 5px;
    color: #2455c3;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.date {
    margin-top: 0;
    font-size: 12px;
    line-height: 24px;
    font-weight: lighter;
    color: #666666;
}

.container-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 25%;
}

.content-white, .content-grey {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    padding: 15px;
    text-align: center;
    font-size: 14px;
}

.content-white {
    background-color: #ffffff;
    height: 160px;
    width: 80%;
}

.content-white img, .content-grey img {
    height: 80px;
    width: 80px;
}

.content-grey {
    background-color: #f0f0f0;
    height: 160px;
    width: 80%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.content-white p, .content-grey p {
    margin-bottom: 0;
    margin-top: 5px;
}

.bottom-bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80px;
    margin-top: 60px;
    border-radius: 5px;
    background-color: #ececec;
    margin-bottom: 30px;
}

.bottom-bloc p {
    font-size: 14px;
    padding-left: 100px;
    padding-right: 100px;
}

.bottom-bloc a {
    color: #2455c3;
}

.link-footer {
    width: 100%;
    height: 80px;
    background-color: #ededed;
}

.wrap-link {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    height: 80px;
}

.link {
    display: flex;
    align-items: center;
    margin-top: -10px;
}

.link:nth-child(1) a {
    margin-right: 25px;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    color: #222222;
}

.link:nth-child(2) a {
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    color: #222222;
}

.link:nth-child(2) p {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
}

.mid-footer {
    width: 100%;
    height: auto;
    background-color: rgb(246, 246, 246);
}

.wrap-mid {
    display: flex;
    width: 50%;
    margin: 0 auto;
    height: auto;
}

.button-footer {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
}

.content-button img {
    margin-right: 15px;
}

.content-button {
    display: flex;
    flex-direction: column;
    height: 80px;
}

.content-button h4 {
    font-size: 14px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.content-button p {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
}

.content-button a {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 600;
    color: #2455c3;
}

.footer {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    background-color: #ededed;
}

.top-body-bottom h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: lighter;
}

.wrap-footer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    height: auto;
}

.top-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.top-footer img {
    height: 60px;
    width: 60px;
}

.top-footer-left p{
    font-size: 14px;
    line-height: 24px;
    font-weight: lighter;
    margin-bottom: 0;
    margin-top: 0;
    color: #222222;
}

.link-footer-b {
    display: flex;
    align-items: center;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #ededed;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    color: #222222;
}

.link-footer-b p {
    margin-left: 5px;
    margin-right: 5px;
}

.bottom-footer {
    position: relative;
    margin-top: 0;
    font-size: 63px;
    letter-spacing: -2px;
    margin-bottom: 0;
    font-weight: 900;
    overflow: hidden;
    height: 70px;
}

.bottom-footer p {
    position: absolute;
    z-index: 10;
    bottom: -15px;
    margin-bottom: 0;
    margin-top: 0;
}










